.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* justify-content: center; */
  position: fixed;
}

.blocks {
  width: 20%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: center center; */
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#element-one {
  background-image: url("1.jpeg");
}

#element-two {
  background-image: url("2.jpeg");
}

#element-three {
  background-image: url("4.jpeg");
}

#element-four {
  background-image: url("5.jpeg");
}

#element-five {
  background-image: url("3.jpeg");
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .blocks {
    display: flex;
    width: 100vw;
    height: 20%;
    justify-content: center;
    align-items: center;
  }
}